/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
}

.social-links img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.2);
}

footer p {
    margin-top: 10px;
    color: #bbb;
}
